<!DOCTYPE html>
<html>
	<head>
		<script type="text/template" id="searchPainelTemplate">
		<article>
			<table id="tabelaResultado">
				<tr>
					<th>Postagem</th>
					<th>Data de Criação</th>
				</tr>
				{{#postagens}}
				<tr>
					<td><a href="cadastroPost.html?acao=2&idPost={{id}}">{{titulo}}</a></td>
					<td>{{dataCriacao}}</td>
				</tr>
				{{/postagens}}
			</table>
		</article>
	</script>
	<script type="text/template" id="feedTemplate">
		<nav>
			{{#feeds}} 
			<ul>
				<li>
					<br><a href="{{link}}"><img src="{{caminhoImagem}}"></a>
				</li>				
			</ul>
			{{/feeds}}
		</nav>
	</script>
	</head>	
</html>